canvas {
	width:100%;
	height:100%;
	background:black;
	
}

body, html{
	height: 100%;
	margin: 0;
	/*This ensures that my canvas takes up the entire view
	since margin has been made 0, canvas is forced to take up all that space*/
}